<section class="content">
    <div class="post-content">
        <div class="post">
            <p>Hi there.</p>
            <p>My name is <strong>Matt</strong> and I'm a web application artificer.</p>
            <p>I'm good with <strong>Ruby on Rails</strong>, <strong>AngularJS</strong>, <strong>Python</strong>, and I'm familiar with <strong>D3.js</strong>. I also know how to deploy applications using <strong>nginx</strong> and <strong>passenger</strong>. On top of that I know a bit of PHP and C too.</p>
            <p>I'm always learning, whether it's pushing the limits of what I already know or exploring whole new areas. You can check out my code on <a href="https://github.com/sirMackk">my <strong>github</strong> account</a>. You can catch me at <a href="https://twitter.com/matt_voidptr">@matt_voidptr</a> or at <strong>matt(at)mattscodecave.com</strong></p>
        </div>
    </div>
</section>