<% @title = "About Matt" %>
<section class="content">
    <div class="post-content">
        <div class="post">
            <p>Hi there.</p>
            <p>My name is <strong>Matt</strong> and I'm a web application developer.</p>
            <p>My main tool is Ruby on Rails, and I know enough of Backbone and AngularJS to get the job done. I also like to play with a lot of other stuff, namely Golang and D3.js, but who knows what I'm up to at this precise moment.</p>
            <p>I love learning and building things and learning more from the process to build better things next time. Currently I'm working to improve my OOP skills to be able to build more complex applications.</p>
            <p>You can check out my code on <a href="https://github.com/sirMackk">my <strong>github</strong> account</a>. I'd love to hear from you at<a href="https://twitter.com/matt_voidptr">@matt_voidptr</a> or at <strong>matt(at)mattscodecave.com</strong></p>
        </div>
    </div>
</section>
