<section class="posts">
	<% @posts.each do |post| %>
	  <div class="post">
	    <h3><em><%= link_to post.title, show_post_path(post.slug) %><span> / <%= post.created_at.strftime('%B %d %Y') %></span></em></h3>
	    <p><%= post.description %></p>
	    <%= link_to 'read more', show_post_path(post.slug) %>
	  </div>
	<% end %> 
</section>