<section class="posts">
	<% @posts.each do |post| %>
	  <div class="post">
	    <h1><%= link_to "#{post.title} &rarr;".html_safe, show_post_path(post.slug) %></h1>
	    <div><%= post.created_at.strftime('%B %d %Y') %></div>
	    <%= markdown post.description %>
	  </div>
	<% end %> 
</section>