$gun: #444;
$gunDark: #333;
$orange: #fa6900;
$lightGrey: #EEE;
$darkGrey: #BBB;

@mixin round-border {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

@font-face {
  font-family: envy;
  src: font-url("envy_code_r.ttf") format('truetype');
}

@font-face {
  font-family: ptc55f;
  src: font-url('ptc55f.ttf') format('truetype');
}

p, div {
  font-family: ptc55f;
  color: $gunDark;
}

div.success, div.error {
  @include round-border;
  margin: -15px auto 10px auto;
  padding: 10px 0 5px 10px;
  width: 75%;
}

div.success {
  background-color: #B1CF72;
}

div.error {
  background-color: #F54828;
  color: #fff;
}

div.container {
	width: 800px;
	margin: 0 auto 25px auto;
  header {
    background:url(image_path('gears.svg')) no-repeat top right;
    display: inline-block;
    width: 100%;
  	span a {
			font-size: 62px;
			font-family: envy, sans-serif;
			letter-spacing: -3px;
			text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
			color: $gun;
			text-decoration: none;
      display: block;
      float: left;
      width: 100px;
      margin-top: 120px;
      &:hover {
        color: $orange;
      }
  	}
		& + section { clear: both; } 
  }
  section.content {
  	padding-top: 40px;
    div.twitter-btn {
      position: fixed;
      bottom: 7px;
      right: 12px;
    }
  	div.field {
  		margin-top: 10px;
  		input.title {
  			width: 300px;
  		}
  		input.desc {
  			width: 300px;
  		}
  		textarea.body {
  			width: 500px;
  			height: 300px;
  		}
  		label {
  			display:block;
  			margin-bottom: 5px;
  		}
  	}
    div#uploaded_images {
      tbody div {
        background-color: #CCC;
        font-face: courier-new;
        font-size: 12px;
        padding: 5px;
      }
      td {
        padding: 5px;
        border: solid 1px #000;
      }
      border: solid 1px #000;
    }
    div.post-content {
      p.date-header {
        margin-top: -20px;
        font-size: 14px;
      }
      & > h2 {
        font-size: 36px;
      }
      div.post {
        p {
          line-height: 32px;
        }
        code {
          /*font-family: ptc55f;*/
          font-size: 14px;
          background-color: $lightGrey;
          padding: 1px 4px 1px;
          border: 2px dashed $darkGrey;
          @include round-border;
        }
        pre {
          font-family: Consolas, monospace;
          background-color: $lightGrey;
          @include round-border;
          border: 2px dashed $darkGrey;
          padding: 5px 0 5px 10px; 
          code {
            padding: 0;
            border: 0;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
          }
        }

        a.image {
          display: inline;
          border: 0;
        }
      }
    }
    a { 
      border-bottom: 1px dashed $orange;
      display: inline-block;
      color: $gun; 
      height: 24px;
      text-decoration: none;
      &:hover {
        color: $orange
      }
    }
    div.post-nav {
      border-top: 2px dashed $darkGrey;
      display: inline-block;
      width: 100%;
      font-size: 20px;
      div { padding: 10px 0; }
      div.last-post {
        float: left;
      }
      div.next-post {
        float: right;
      }
    }
    div.comments {
      border-top: 2px dashed $darkGrey;
      padding-top: 11px;
      div.comment-form {
        margin-bottom: 15px;
        padding-bottom: 20px;
        border-bottom: 2px dashed $darkGrey;
        label {
          font-size: 14px;
          margin-bottom: -3px;
          span {
            font-size: 12px;
            color: #BABABA;
            vertical-align: 2px;
          }
        }
        textarea {
          width: 400px;
        }
      }
      div.comment {
        margin-bottom: 30px;
        div.comment-meta {
          font-size: 13px;
          span {
            font-size: 14px;
          }
        }
        div.comment-body {
          font-size: 14px;
          @include round-border;
          background-color: $lightGrey;
          padding: 7px 0 6px 15px;
          width: 70%;
        }
      }
    }
  }
  section.posts {
    nav.pagination {
      text-align: center;
      margin-top: 55px;
      span { padding: 0 10px 0 10px; }
      a {
        text-decoration: none;
        color: $darkGrey;
        &:hover {
          color: $orange;
          border-bottom: 1px dashed $orange;
        }
      }
    }
  	padding-top: 40px;
		.post {
      margin: 30px 0 30px 0;
			h1 { 
				text-align: center; 
				a {
          font-family: envy;
					text-decoration: none;
					color: $gun;
					font-size: 28px;
          &:hover {
            color: $orange;
          }
				}
			}
      h1 + div {
        margin-top: -12px;
        text-align: center;
        font-size: 11px;
        color: $gun;
      }
      p { 
        font-size: 18px;
        line-height: 32px;
        text-align: center;
       }
		}
  }
  div.footer {
    text-align: center;
    margin-top: 60px;
    a {
      color: $darkGrey;
      text-decoration: none;
      &:hover {
        color: $orange;
        border-bottom: 1px dashed $orange;
      }
    }
  }
}

